<%= form_with(model: user, local: true) do |form| %>
  
  <%= select_tag(:user_id, options_for_select(@user_options)) %>
  <%= select_tag(:event_id, options_for_select(@events_options)) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


