<% unless @event.nil? %>
  <h2>Event title: <%= @event.title %></h2>
  <p>Event's Creator: <%= @event.creator.name %></p>
<% end %>

<% unless @event.attendees.nil? %>
  <% @event.attendees.each do |attendee| %>
    <div>
      <p>Name: <%= attendee.name %></p>
      <p>Contact: <%= attendee.email %></p>
    </div>
  <% end %>
<% end %>
